.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 0px 200px;
}

.logo-container h1{
  font-weight: 700;
  color: #FF5C00;
}

.nav-container ul{
  display: flex;
  list-style: none;
  margin: 0px;
}

.nav-container ul li{
  margin: 0px 25px;
  color: white;
  font-size: 18px;
}